{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>Welcome to ElectroMart!</h2>
<p class="home_para">Welcome to <span class="text-warning font-weight-bold">ElectroMart</span>, your one-stop destination for the latest and greatest in electronics! Whether you're in the market for cutting-edge laptops, smartphones, high-quality accessories, or home appliances, we've got you covered. Our carefully curated selection features top brands, ensuring that you get the best products at competitive prices. With a commitment to customer satisfaction, we provide expert support and hassle-free returns, making your shopping experience as seamless as possible. Join our community of tech enthusiasts and discover unbeatable deals tailored just for you. <span class="text-muted font-weight-bold text-capitalize">Explore our collection today and stay ahead in the world of electronics!</span></p>
{% endblock %}
